.blog-section-list {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

    padding-top: 20px;
    padding-bottom: 20px;

    min-width: 400px;
    
    display: flex;
    flex: 1;
    flex-direction: column;

    border-radius: 5px;

    align-items: center;
    justify-content: center;
}
.blog-button {
    padding: 10px 20px;
    width: 95%;

    color: rgb(13, 24, 34);
    font-size: 20px;
    background-color: transparent;

    border-width: 0px;
    cursor: pointer;
}