html, body {
    margin: 0;

}
.header-section, .header-section-blog, .header-section-projects {
    background-image: url("../images/header/header_vines.PNG");
    background-color: whitesmoke;
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;

    display: flex;
    flex: 1;
    flex-direction: row;

    justify-content: center;
    align-items: end;
    text-align: center;
    height: 550px;
}
.header_image {
    height: 250px;
}
.header_welcome_image {
    height: 320px;
}
.menu-section{
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    background-image: url("../images/menu_background/menu_bar_2.PNG");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    border: dotted 2px rgb(13, 24, 34);
}
.menu-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu-button {
    color: rgb(13, 24, 34);
    font-family: Verdana;
    font-size: 20px;
    background-color: whitesmoke;

    border-color: rgb(13, 24, 34);
    border-width: 3px;
    border-radius: 5px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;

    cursor: pointer;
    transition: background-color 0.8s;
    width: 100%;
}
.menu-button:hover {
    background-color: rgb(209, 223, 206);
}
.menu-button:active {
    opacity: 0.7;
}
.background {
    background-color: whitesmoke
}
.background-a{
    background-color: rgba(188, 186, 221, 0.7);
}
.background-b {
    background-color: rgba(255, 227, 184, 0.9);
}
.background-c {
    background-color: rgba(209, 223, 206, 0.95);
}
.disclaimer-band {
    color: rgb(13, 24, 34);
    background-color: rgba(209, 223, 206, 0.95);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}
.links-bar {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    font-family: Verdana;
    font-size: 15px;
}
.add-lower-padding {
    padding-bottom: 20px;
}
.add-upper-padding{
    padding-top: 20px;
}
.add-bulletpoint-spacing{
    line-height: 30px;
}