html, body {
    margin: 0;

}
.header-section, .header-section-blog, .header-section-projects {
    background-image: url("../images/header/header_vines.PNG");
    background-color: rgb(255, 245, 227);
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;

    display: flex;
    flex: 1;
    flex-direction: row;

    justify-content: center;
    align-items: end;
    text-align: center;
    height: 550px;
}
.header_image {
    height: 250px;
}
.header_welcome_image {
    height: 320px;
}
.menu-section{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 227, 184);
    background-image: url("../images/menu_background/menu_bar_2.PNG");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    border: dotted 2px rgb(13, 24, 34);
}
.menu-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu-button {
    color: rgb(97, 69, 21);
    font-family: Verdana;
    font-size: 20px;
    background-color: rgb(255, 252, 249);

    border-color: rgb(211, 158, 79);
    border-width: 2px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;

    cursor: pointer;
    transition: background-color 0.8s;
    width: 100%;
}
.menu-button:hover {
    background-color: rgb(255, 227, 184);
}
.menu-button:active {
    opacity: 0.8;
}
.background {
    background-color: rgb(255, 245, 227);
}
.disclaimer-band {
    color: rgb(13, 24, 34);
    background-color: rgba(209, 223, 206, 0.95);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}
.links-bar {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.links-button {

    font-family: Verdana;
    font-size: 14px;
    color: rgb(97, 69, 21);

    border-style: none;
    background: none;

    cursor: pointer;
    transition: background-color 0.8s;

    padding-left: 20px;
    padding-right: 20px;
}
.links-button:hover {
    opacity: 80%;
}
.add-lower-padding {
    padding-bottom: 20px;
}
.add-upper-padding{
    padding-top: 20px;
}