html, body {
    margin: 0;

}
.header-section {
    background-image: url("images/welcome_banner.png");
}
.header-section-blog {
    background-image: url("images/blog_header.PNG");
}
.header-section-projects {
    background-image: url("images/projects_header.PNG");
}
.header-section, .header-section-blog, .header-section-projects {
    background-color: rgb(255, 227, 184);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
}
.menu-section{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 227, 184);
    background-image: url("images/menu_bar.png");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    border: dashed 1px gray;
}
.menu-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu-button {
    color: rgb(97, 69, 21);
    font-family: Verdana;
    font-size: 20px;
    background-color: rgb(255, 252, 249);

    border-color: rgb(211, 158, 79);
    border-width: 2px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;

    cursor: pointer;
    transition: background-color 0.8s;
    width: 100%;
}
.menu-button:hover {
    background-color: rgb(255, 227, 184);
}
.menu-button:active {
    opacity: 0.8;
}
.background {
    background-color: rgb(255, 227, 184);
    background-image: url("images/background_main.png");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-position: center;
}
.disclaimer-band {
    color: rgb(97, 69, 21);
    background-color: rgba(240, 187, 113, 0.95);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}
.links-bar {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.links-button {

    font-family: Verdana;
    font-size: 14px;
    color: rgb(97, 69, 21);

    border-style: none;
    background: none;

    cursor: pointer;
    transition: background-color 0.8s;

    padding-left: 20px;
    padding-right: 20px;
}
.links-button:hover {
    opacity: 80%;
}