.top-margin {
    padding-top: 50px;
}
.blog-background {
    background: rgb(255,227,184);
    background: linear-gradient(0deg, rgba(255,227,184,0.9) 0%, rgba(188,186,221,0.7) 100%);
    padding-left: 30px;
    padding-right: 30px;
}
.title-details-text {
    font-size: 12px;
    padding: 3px;
    font-weight: bold;
}
.title-bar {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.title-info-div {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 10px;
}
.title-details-div {
    display: flex;
    flex: 5;
    flex-direction: row;
    justify-content: right;
}
.menu-bar {
    display: grid;
    grid-template-columns: 1fr;
}
.blog-main {
    padding-top: 20px;
    padding-bottom: 20px;
}